* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transform-style: preserve-3d;
    min-height:80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .doc {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .doc img {
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }

  .info h3 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  
  .upload{
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  input[type="file"]{
    display: none;
  }

  label{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background-color: #c0392b;
    width: 100%;
    text-align: center;
    padding: 15px 40px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.35);
    border-radius: 10px; 
    margin-bottom: 10px;
  }

  label i{
    font-size:20px;
    margin-right: 10px;
  }

  label:active{
    transform : scale(0.9);
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  select{
    padding: 10px;
    margin-bottom: 10px;

  }